%meta{charset: "UTF-8"}
%meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}

%title
  -
  #{current_page.data.title}
  \|
  = data.site.title

= partial "includes/layout/meta"

%link{rel: "alternate", type: "application/atom+xml", title: "Blog", href: "/atom.xml"}

%link{href: "/ico/favicon.ico", rel: "shortcut icon"}
%link{href: "/ico/apple-touch-icon-57x57.png", rel: "apple-touch-icon", sizes: "57x57"}
%link{href: "/ico/apple-touch-icon-114x114.png", rel: "apple-touch-icon", sizes: "114x114"}
%link{href: "/ico/apple-touch-icon-72x72.png", rel: "apple-touch-icon", sizes: "72x72"}
%link{href: "/ico/apple-touch-icon-144x144.png", rel: "apple-touch-icon", sizes: "144x144"}
%link{href: "/ico/apple-touch-icon-60x60.png", rel: "apple-touch-icon", sizes: "60x60"}
%link{href: "/ico/apple-touch-icon-120x120.png", rel: "apple-touch-icon", sizes: "120x120"}
%link{href: "/ico/apple-touch-icon-76x76.png", rel: "apple-touch-icon", sizes: "76x76"}
%link{href: "/ico/apple-touch-icon-152x152.png", rel: "apple-touch-icon", sizes: "152x152"}
%link{href: "/ico/apple-touch-icon-180x180.png", rel: "apple-touch-icon", sizes: "180x180"}
%link{href: "/ico/favicon-192x192.png", rel: "icon", sizes: "192x192", type: "image/png"}
%link{href: "/ico/favicon-160x160.png", rel: "icon", sizes: "160x160", type: "image/png"}
%link{href: "/ico/favicon-96x96.png", rel: "icon", sizes: "96x96", type: "image/png"}
%link{href: "/ico/favicon-16x16.png", rel: "icon", sizes: "16x16", type: "image/png"}
%link{href: "/ico/favicon-32x32.png", rel: "icon", sizes: "32x32", type: "image/png"}
%meta{content: "#554488", name: "msapplication-TileColor"}
%meta{content: "/ico/mstile-144x144.png", name: "msapplication-TileImage"}
%meta{content: "/ico/browserconfig.xml", name: "msapplication-config"}

%link{rel: "stylesheet", href: "//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600"}
%link{rel: "stylesheet", href: "//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"}

= stylesheet_link_tag :styles
- if current_page.data.extra_css
  - current_page.data.extra_css.each do |css_name|
    = stylesheet_link_tag css_name

= partial "includes/google/ga"
